In [1]:
import pandas as pd

In [64]:
# Load the CSV file
file_path = "../attacks/sql_injection_attack.csv"  # Change this to your file name
df = pd.read_csv(file_path)
df.fillna(0, inplace=True)
df['Attack_type']='SQL_injection'
df['Attack_label']=1.0
df['tcp.checksum'] = df['tcp.checksum'].apply(lambda x: int(x, 16) if isinstance(x, str) and x.startswith('0x') else x)
df['tcp.flags'] = df['tcp.flags'].apply(lambda x: int(x, 16) if isinstance(x, str) and x.startswith('0x') else x)
df['tcp.checksum'] = df['tcp.checksum'].astype(float)
df['tcp.flags'] = df['tcp.flags'].astype(float)
# # Save the updated CSV
output_path = "../attacks/sql_injection_attack_mergable.csv"
df.to_csv(output_path, index=False)

print(f"Updated CSV saved as {output_path}")

Updated CSV saved as ../attacks/sql_injection_attack_mergable.csv

In [61]:
df = df.rename(columns={'http.request.method': 'http1', 'http.referer': 'http2', 'http.request.version': 'http3', 'dns.qry.name.len': 'dns', 'mqtt.conack.flags': 'mqtt1', 'mqtt.protoname': 'mqtt2', 'mqtt.topic': 'mqtt3'})
# df = df.drop(df.columns[0], axis=1)
df.info()
df.to_csv('../attacks/ddos_http_attack_mergable.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 63 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   frame.time                 5000 non-null   object
 1   ip.src                     5000 non-null   object
 2   ip.dst                     5000 non-null   object
 3   arp.dst.proto_ipv4         5000 non-null   float64
 4   arp.opcode                 5000 non-null   float64
 5   arp.hw.size                5000 non-null   float64
 6   arp.src.proto_ipv4         5000 non-null   float64
 7   icmp.checksum              5000 non-null   float64
 8   icmp.seq_le                5000 non-null   float64
 9   icmp.transmit_timestamp    5000 non-null   float64
 10  icmp.unused                5000 non-null   float64
 11  http.file_data             5000 non-null   object
 12  http.content_length        5000 non-null   float64
 13  http.request.uri.query     5000 non-null   float64
 14  http1                      5000 non-null   object
 15  http2                      5000 non-null   float64
 16  http.request.full_uri      5000 non-null   object
 17  http3                      5000 non-null   object
 18  http.response              5000 non-null   object
 19  http.tls_port              5000 non-null   float64
 20  tcp.ack                    5000 non-null   float64
 21  tcp.ack_raw                5000 non-null   float64
 22  tcp.checksum               5000 non-null   float64
 23  tcp.connection.fin         5000 non-null   float64
 24  tcp.connection.rst         5000 non-null   float64
 25  tcp.connection.syn         5000 non-null   float64
 26  tcp.connection.synack      5000 non-null   float64
 27  tcp.dstport                5000 non-null   float64
 28  tcp.flags                  5000 non-null   float64
 29  tcp.flags.ack              5000 non-null   object
 30  tcp.len                    5000 non-null   float64
 31  tcp.options                5000 non-null   object
 32  tcp.payload                5000 non-null   object
 33  tcp.seq                    5000 non-null   float64
 34  tcp.srcport                5000 non-null   float64
 35  udp.port                   5000 non-null   object
 36  udp.stream                 5000 non-null   float64
 37  udp.time_delta             5000 non-null   float64
 38  dns.qry.name               5000 non-null   object
 39  dns                        5000 non-null   float64
 40  dns.qry.qu                 5000 non-null   object
 41  dns.qry.type               5000 non-null   float64
 42  dns.retransmission         5000 non-null   float64
 43  dns.retransmit_request     5000 non-null   float64
 44  dns.retransmit_request_in  5000 non-null   float64
 45  mqtt1                      5000 non-null   float64
 46  mqtt.conflag.cleansess     5000 non-null   float64
 47  mqtt.conflags              5000 non-null   float64
 48  mqtt.hdrflags              5000 non-null   float64
 49  mqtt.len                   5000 non-null   float64
 50  mqtt.msg_decoded_as        5000 non-null   float64
 51  mqtt.msg                   5000 non-null   float64
 52  mqtt.msgtype               5000 non-null   float64
 53  mqtt.proto_len             5000 non-null   float64
 54  mqtt2                      5000 non-null   float64
 55  mqtt3                      5000 non-null   float64
 56  mqtt.topic_len             5000 non-null   float64
 57  mqtt.ver                   5000 non-null   float64
 58  mbtcp.len                  5000 non-null   float64
 59  mbtcp.trans_id             5000 non-null   float64
 60  mbtcp.unit_id              5000 non-null   float64
 61  Attack_type                5000 non-null   object
 62  Attack_label               5000 non-null   float64
dtypes: float64(48), object(15)
memory usage: 2.4+ MB

In [13]:
# Load the CSV file
!pwd
file_path = "../attacks/sql_injection_attack_to_merge.csv"  # Change this to your file name
df = pd.read_csv(file_path)
df.fillna(0, inplace=True)
df['tcp.checksum'] = df['tcp.checksum'].apply(lambda x: int(x, 16) if isinstance(x, str) and x.startswith('0x') else x)
df['tcp.flags'] = df['tcp.flags'].apply(lambda x: int(x, 16) if isinstance(x, str) and x.startswith('0x') else x)
df['tcp.checksum'] = df['tcp.checksum'].astype(float)
df['tcp.flags'] = df['tcp.flags'].astype(float)
df.info()
df.to_csv('../attacks/sql_injection_attack_to_merge.csv')
print(f"Updated CSV saved as {output_path}")

/Users/bishwaswagle/Desktop/new-fl-repos/FL-IDS/preprocessing
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 63 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   frame.time                 5000 non-null   object
 1   ip.src                     5000 non-null   object
 2   ip.dst                     5000 non-null   object
 3   arp.dst.proto_ipv4         5000 non-null   object
 4   arp.opcode                 5000 non-null   float64
 5   arp.hw.size                5000 non-null   float64
 6   arp.src.proto_ipv4         5000 non-null   object
 7   icmp.checksum              5000 non-null   float64
 8   icmp.seq_le                5000 non-null   float64
 9   icmp.transmit_timestamp    5000 non-null   float64
 10  icmp.unused                5000 non-null   float64
 11  http.file_data             5000 non-null   object
 12  http.content_length        5000 non-null   float64
 13  http.request.uri.query     5000 non-null   float64
 14  http.request.method        5000 non-null   object
 15  http.referer               5000 non-null   float64
 16  http.request.full_uri      5000 non-null   object
 17  http.request.version       5000 non-null   object
 18  http.response              5000 non-null   int64
 19  http.tls_port              5000 non-null   float64
 20  tcp.ack                    5000 non-null   float64
 21  tcp.ack_raw                5000 non-null   float64
 22  tcp.checksum               5000 non-null   float64
 23  tcp.connection.fin         5000 non-null   float64
 24  tcp.connection.rst         5000 non-null   float64
 25  tcp.connection.syn         5000 non-null   float64
 26  tcp.connection.synack      5000 non-null   float64
 27  tcp.dstport                5000 non-null   float64
 28  tcp.flags                  5000 non-null   float64
 29  tcp.flags.ack              5000 non-null   int64
 30  tcp.len                    5000 non-null   float64
 31  tcp.options                5000 non-null   object
 32  tcp.payload                5000 non-null   object
 33  tcp.seq                    5000 non-null   float64
 34  tcp.srcport                5000 non-null   float64
 35  udp.port                   5000 non-null   object
 36  udp.stream                 5000 non-null   float64
 37  udp.time_delta             5000 non-null   float64
 38  dns.qry.name               5000 non-null   object
 39  dns.qry.name.len           5000 non-null   float64
 40  dns.qry.qu                 5000 non-null   int64
 41  dns.qry.type               5000 non-null   float64
 42  dns.retransmission         5000 non-null   int64
 43  dns.retransmit_request     5000 non-null   float64
 44  dns.retransmit_request_in  5000 non-null   float64
 45  mqtt.conack.flags          5000 non-null   float64
 46  mqtt.conflag.cleansess     5000 non-null   float64
 47  mqtt.conflags              5000 non-null   float64
 48  mqtt.hdrflags              5000 non-null   float64
 49  mqtt.len                   5000 non-null   float64
 50  mqtt.msg_decoded_as        5000 non-null   float64
 51  mqtt.msg                   5000 non-null   float64
 52  mqtt.msgtype               5000 non-null   float64
 53  mqtt.proto_len             5000 non-null   float64
 54  mqtt.protoname             5000 non-null   float64
 55  mqtt.topic                 5000 non-null   float64
 56  mqtt.topic_len             5000 non-null   float64
 57  mqtt.ver                   5000 non-null   float64
 58  mbtcp.len                  5000 non-null   float64
 59  mbtcp.trans_id             5000 non-null   float64
 60  mbtcp.unit_id              5000 non-null   float64
 61  Attack_type                5000 non-null   object
 62  Attack_label               5000 non-null   float64
dtypes: float64(45), int64(4), object(14)
memory usage: 2.4+ MB
Updated CSV saved as ../ddos_http_attack_to_merge.csv

In [15]:
!pwd
file_path = "../attacks/ddos_tcp_attack.csv"  # Change this to your file name
df = pd.read_csv(file_path)
df.fillna(0, inplace=True)
df['Attack_type']='DDoS_TCP'
df['Attack_label']=1.0
df['tcp.checksum'] = df['tcp.checksum'].apply(lambda x: int(x, 16) if isinstance(x, str) and x.startswith('0x') else x)
df['tcp.flags'] = df['tcp.flags'].apply(lambda x: int(x, 16) if isinstance(x, str) and x.startswith('0x') else x)
df['tcp.checksum'] = df['tcp.checksum'].astype(float)
df['tcp.flags'] = df['tcp.flags'].astype(float)
df.info()
df.to_csv('../attacks/ddos_tcp_attack_to_merge.csv')
print(f"Updated CSV saved as {output_path}")

/Users/bishwaswagle/Desktop/new-fl-repos/FL-IDS/preprocessing
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 63 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   frame.time                 5000 non-null   object
 1   ip.src                     5000 non-null   object
 2   ip.dst                     5000 non-null   object
 3   arp.dst.proto_ipv4         5000 non-null   object
 4   arp.opcode                 5000 non-null   float64
 5   arp.hw.size                5000 non-null   float64
 6   arp.src.proto_ipv4         5000 non-null   object
 7   icmp.checksum              5000 non-null   float64
 8   icmp.seq_le                5000 non-null   float64
 9   icmp.transmit_timestamp    5000 non-null   float64
 10  icmp.unused                5000 non-null   float64
 11  http.file_data             5000 non-null   float64
 12  http.content_length        5000 non-null   float64
 13  http.request.uri.query     5000 non-null   float64
 14  http.request.method        5000 non-null   float64
 15  http.referer               5000 non-null   float64
 16  http.request.full_uri      5000 non-null   float64
 17  http.request.version       5000 non-null   float64
 18  http.response              5000 non-null   float64
 19  http.tls_port              5000 non-null   float64
 20  tcp.ack                    5000 non-null   float64
 21  tcp.ack_raw                5000 non-null   float64
 22  tcp.checksum               5000 non-null   float64
 23  tcp.connection.fin         5000 non-null   float64
 24  tcp.connection.rst         5000 non-null   float64
 25  tcp.connection.syn         5000 non-null   float64
 26  tcp.connection.synack      5000 non-null   float64
 27  tcp.dstport                5000 non-null   float64
 28  tcp.flags                  5000 non-null   float64
 29  tcp.flags.ack              5000 non-null   object
 30  tcp.len                    5000 non-null   float64
 31  tcp.options                5000 non-null   object
 32  tcp.payload                5000 non-null   object
 33  tcp.seq                    5000 non-null   float64
 34  tcp.srcport                5000 non-null   float64
 35  udp.port                   5000 non-null   object
 36  udp.stream                 5000 non-null   float64
 37  udp.time_delta             5000 non-null   float64
 38  dns.qry.name               5000 non-null   float64
 39  dns.qry.name.len           5000 non-null   float64
 40  dns.qry.qu                 5000 non-null   float64
 41  dns.qry.type               5000 non-null   float64
 42  dns.retransmission         5000 non-null   float64
 43  dns.retransmit_request     5000 non-null   float64
 44  dns.retransmit_request_in  5000 non-null   float64
 45  mqtt.conack.flags          5000 non-null   float64
 46  mqtt.conflag.cleansess     5000 non-null   float64
 47  mqtt.conflags              5000 non-null   float64
 48  mqtt.hdrflags              5000 non-null   float64
 49  mqtt.len                   5000 non-null   float64
 50  mqtt.msg_decoded_as        5000 non-null   float64
 51  mqtt.msg                   5000 non-null   float64
 52  mqtt.msgtype               5000 non-null   float64
 53  mqtt.proto_len             5000 non-null   float64
 54  mqtt.protoname             5000 non-null   float64
 55  mqtt.topic                 5000 non-null   float64
 56  mqtt.topic_len             5000 non-null   float64
 57  mqtt.ver                   5000 non-null   float64
 58  mbtcp.len                  5000 non-null   float64
 59  mbtcp.trans_id             5000 non-null   float64
 60  mbtcp.unit_id              5000 non-null   float64
 61  Attack_type                5000 non-null   object
 62  Attack_label               5000 non-null   float64
dtypes: float64(53), object(10)
memory usage: 2.4+ MB
Updated CSV saved as ../ddos_http_attack_to_merge.csv

In [68]:

# Load your datasets
df0 = pd.read_csv('../attacks/shuffled_DNN-EdgeIIot-dataset.csv')
df1 = pd.read_csv('../attacks/ddos_tcp_attack_mergable.csv')
df2 = pd.read_csv('../attacks/ddos_http_attack_mergable.csv')
df3 = pd.read_csv('../attacks/sql_injection_attack_mergable.csv')

# Append df2 to df1, and then df3 to the resulting DataFrame
df_combined = pd.concat([df0, df1, df2, df3], ignore_index=True)

# Save the combined DataFrame to a new CSV
df_combined.to_csv('../attacks/combined_dataset_to_preprocess.csv', index=False)

print("Datasets have been successfully appended and saved!")

/var/folders/k6/3vxq_y592f389sfrwrxjw1k40000gn/T/ipykernel_8411/1218380485.py:2: DtypeWarning: Columns (16,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df0 = pd.read_csv('../attacks/shuffled_DNN-EdgeIIot-dataset.csv')

Datasets have been successfully appended and saved!

In [19]:
df.shape

(5000, 63)

In [21]:
columns_to_keep = [
    'frame.time','arp.dst.proto_ipv4','arp.opcode','arp.hw.size','arp.src.proto_ipv4','icmp.checksum','icmp.seq_le','icmp.transmit_timestamp','icmp.unused','http.file_data','http.content_length','http.request.uri.query','http.request.method','http.referer','http.request.full_uri','http.request.version','http.response','http.tls_port','tcp.ack','tcp.ack_raw','tcp.checksum','tcp.connection.fin','tcp.connection.rst','tcp.connection.syn','tcp.connection.synack','tcp.dstport','tcp.flags','tcp.flags.ack','tcp.len','tcp.options','tcp.payload','tcp.seq','tcp.srcport','udp.port','udp.stream','udp.time_delta','dns.qry.name','dns.qry.name.len','dns.qry.qu','dns.qry.type','dns.retransmission','dns.retransmit_request','dns.retransmit_request_in','mbtcp.len', 'mbtcp.trans_id', 'mbtcp.unit_id','Attack_label','Attack_type'
]
df_combined = df_combined[columns_to_keep]
df_combined.to_csv('../attacks/combined_dataset.csv', index=False)

In [25]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 48 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   frame.time                 15000 non-null  object
 1   arp.dst.proto_ipv4         15000 non-null  object
 2   arp.opcode                 15000 non-null  float64
 3   arp.hw.size                15000 non-null  float64
 4   arp.src.proto_ipv4         15000 non-null  object
 5   icmp.checksum              15000 non-null  float64
 6   icmp.seq_le                15000 non-null  float64
 7   icmp.transmit_timestamp    15000 non-null  float64
 8   icmp.unused                15000 non-null  float64
 9   http.file_data             15000 non-null  object
 10  http.content_length        15000 non-null  float64
 11  http.request.uri.query     15000 non-null  float64
 12  http.request.method        15000 non-null  object
 13  http.referer               15000 non-null  float64
 14  http.request.full_uri      15000 non-null  object
 15  http.request.version       15000 non-null  object
 16  http.response              15000 non-null  float64
 17  http.tls_port              15000 non-null  float64
 18  tcp.ack                    15000 non-null  float64
 19  tcp.ack_raw                15000 non-null  float64
 20  tcp.checksum               15000 non-null  object
 21  tcp.connection.fin         15000 non-null  float64
 22  tcp.connection.rst         15000 non-null  float64
 23  tcp.connection.syn         15000 non-null  float64
 24  tcp.connection.synack      15000 non-null  float64
 25  tcp.dstport                15000 non-null  float64
 26  tcp.flags                  15000 non-null  object
 27  tcp.flags.ack              15000 non-null  object
 28  tcp.len                    15000 non-null  float64
 29  tcp.options                15000 non-null  object
 30  tcp.payload                15000 non-null  object
 31  tcp.seq                    15000 non-null  float64
 32  tcp.srcport                15000 non-null  float64
 33  udp.port                   15000 non-null  object
 34  udp.stream                 15000 non-null  float64
 35  udp.time_delta             15000 non-null  float64
 36  dns.qry.name               15000 non-null  object
 37  dns.qry.name.len           15000 non-null  float64
 38  dns.qry.qu                 15000 non-null  float64
 39  dns.qry.type               15000 non-null  float64
 40  dns.retransmission         15000 non-null  float64
 41  dns.retransmit_request     15000 non-null  float64
 42  dns.retransmit_request_in  15000 non-null  float64
 43  mbtcp.len                  15000 non-null  float64
 44  mbtcp.trans_id             15000 non-null  float64
 45  mbtcp.unit_id              15000 non-null  float64
 46  Attack_label               15000 non-null  float64
 47  Attack_type                15000 non-null  object
dtypes: float64(33), object(15)
memory usage: 5.5+ MB

In [7]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from hashlib import md5
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [8]:
df_combined = pd.read_csv('../attacks/combined_dataset.csv')

In [9]:
df_combined = df_combined.rename(columns={'http.request.method': 'http1', 'http.referer': 'http2', 'http.request.version': 'http3', 'dns.qry.name.len': 'dns'})

In [10]:
le_http1 = LabelEncoder()
le_http2 = LabelEncoder()
le_http3 = LabelEncoder()
le_dns = LabelEncoder()

In [14]:
df_combined['http1_encoded'] = le_http1.fit_transform(df_combined.http1)
df_combined['http2_encoded'] = le_http2.fit_transform(df_combined.http2)
df_combined['http3_encoded'] = le_http3.fit_transform(df_combined.http3)
df_combined['dns_encoded'] = le_dns.fit_transform(df_combined.dns)

In [11]:
http1_ = OneHotEncoder()
http2_ = OneHotEncoder()
http3_ = OneHotEncoder()
dns_ = OneHotEncoder()

In [15]:
X1 = http1_.fit_transform(df_combined.http1_encoded.values.reshape(-1,1)).toarray()
X2 = http2_.fit_transform(df_combined.http2_encoded.values.reshape(-1,1)).toarray()
X3 = http3_.fit_transform(df_combined.http3_encoded.values.reshape(-1,1)).toarray()
X4 = dns_.fit_transform(df_combined.dns_encoded.values.reshape(-1,1)).toarray()

In [16]:
dfOneHot = pd.DataFrame(X1, columns = ["http1_"+str(int(i)) for i in range(X1.shape[1])])
df_combined = pd.concat([df_combined, dfOneHot], axis=1)
dfOneHot = pd.DataFrame(X2, columns = ["http2_"+str(int(i)) for i in range(X2.shape[1])])
df_combined = pd.concat([df_combined, dfOneHot], axis=1)
dfOneHot = pd.DataFrame(X3, columns = ["http3_"+str(int(i)) for i in range(X3.shape[1])])
df_combined = pd.concat([df_combined, dfOneHot], axis=1)
dfOneHot = pd.DataFrame(X4, columns = ["dns_"+str(int(i)) for i in range(X4.shape[1])])

In [18]:
df_combined.drop(columns=['http1','http2','http3', 'dns'], inplace = True )
df_combined.columns

Index(['frame.time', 'arp.dst.proto_ipv4', 'arp.opcode', 'arp.hw.size',
       'arp.src.proto_ipv4', 'icmp.checksum', 'icmp.seq_le',
       'icmp.transmit_timestamp', 'icmp.unused', 'http.file_data',
       'http.content_length', 'http.request.uri.query',
       'http.request.full_uri', 'http.response', 'http.tls_port', 'tcp.ack',
       'tcp.ack_raw', 'tcp.checksum', 'tcp.connection.fin',
       'tcp.connection.rst', 'tcp.connection.syn', 'tcp.connection.synack',
       'tcp.dstport', 'tcp.flags', 'tcp.flags.ack', 'tcp.len', 'tcp.options',
       'tcp.payload', 'tcp.seq', 'tcp.srcport', 'udp.port', 'udp.stream',
       'udp.time_delta', 'dns.qry.name', 'dns.qry.qu', 'dns.qry.type',
       'dns.retransmission', 'dns.retransmit_request',
       'dns.retransmit_request_in', 'mbtcp.len', 'mbtcp.trans_id',
       'mbtcp.unit_id', 'Attack_label', 'Attack_type', 'http1_encoded',
       'http2_encoded', 'http3_encoded', 'dns_encoded', 'http1_0', 'http1_1',
       'http1_2', 'http1_3', 'http2_0', 'http3_0', 'http3_1', 'http3_2'],
      dtype='object')

In [19]:
df_combined.isnull().sum()

frame.time                   0
arp.dst.proto_ipv4           0
arp.opcode                   0
arp.hw.size                  0
arp.src.proto_ipv4           0
icmp.checksum                0
icmp.seq_le                  0
icmp.transmit_timestamp      0
icmp.unused                  0
http.file_data               0
http.content_length          0
http.request.uri.query       0
http.request.full_uri        0
http.response                0
http.tls_port                0
tcp.ack                      0
tcp.ack_raw                  0
tcp.checksum                 0
tcp.connection.fin           0
tcp.connection.rst           0
tcp.connection.syn           0
tcp.connection.synack        0
tcp.dstport                  0
tcp.flags                    0
tcp.flags.ack                0
tcp.len                      0
tcp.options                  0
tcp.payload                  0
tcp.seq                      0
tcp.srcport                  0
udp.port                     0
udp.stream                   0
udp.time_delta               0
dns.qry.name                 0
dns.qry.qu                   0
dns.qry.type                 0
dns.retransmission           0
dns.retransmit_request       0
dns.retransmit_request_in    0
mbtcp.len                    0
mbtcp.trans_id               0
mbtcp.unit_id                0
Attack_label                 0
Attack_type                  0
http1_encoded                0
http2_encoded                0
http3_encoded                0
dns_encoded                  0
http1_0                      0
http1_1                      0
http1_2                      0
http1_3                      0
http2_0                      0
http3_0                      0
http3_1                      0
http3_2                      0
dtype: int64

In [20]:
df_combined.duplicated().sum()

0

In [21]:
# Function to create a hash for each column
def hash_column(series):
    return md5(pd.util.hash_pandas_object(series, index=False).values).hexdigest()

# Function to find columns with identical hashes
def find_identical_columns_by_hash(df):
    hash_dict = {}
    for col in df_combined.columns:
        col_hash = hash_column(df_combined[col])
        if col_hash in hash_dict:
            hash_dict[col_hash].append(col)
        else:
            hash_dict[col_hash] = [col]

    return [cols for cols in hash_dict.values() if len(cols) > 1]

# Applying the function to the DataFrame
identical_column_groups = find_identical_columns_by_hash(df_combined)
print("Groups of identical columns:", identical_column_groups)

Groups of identical columns: [['icmp.checksum', 'icmp.seq_le', 'icmp.transmit_timestamp', 'icmp.unused', 'http.request.uri.query', 'http.tls_port', 'tcp.connection.rst', 'dns.qry.qu', 'mbtcp.len', 'mbtcp.trans_id', 'mbtcp.unit_id', 'http2_encoded'], ['Attack_label', 'http2_0'], ['http1_0', 'http3_0'], ['http1_1', 'http3_1']]

In [23]:
# Groups of identical columns
identical_column_groups = [
    ['icmp.unused', 'http.tls_port', 'dns.qry.type'],
    # ['mqtt.conflag.cleansess', 'mqtt2_2'], 
    # ['mqtt.proto_len', 'mqtt.ver'], 
    # ['mqtt1_1', 'mqtt2_1', 'mqtt3_1']
]

# Iterate through the list of groups and drop all but the first column
for group in identical_column_groups:
    # Keep the first column of the group and drop the rest
    columns_to_drop = group[1:]  # all columns except the first one
    df_combined = df_combined.drop(columns_to_drop, axis=1)
df_combined.shape

(15000, 54)

In [26]:
print(df_combined['Attack_type'].value_counts())

Attack_type
DDoS_TCP         5000
DDoS_HTTP        5000
SQL_injection    5000
Name: count, dtype: int64

In [27]:
df_cat = df_combined.select_dtypes(exclude=[np.number])
df_cat.describe(include='all')

,frame.time,arp.dst.proto_ipv4,arp.src.proto_ipv4,http.file_data,http.request.full_uri,tcp.checksum,tcp.flags,tcp.flags.ack,tcp.options,tcp.payload,udp.port,dns.qry.name,Attack_type
count,15000,15000,15000,15000,15000,15000,15000,15000,15000,15000,15000,15000,15000
unique,14865,5,5,5,4,7440,13,4,4452,830,8,5,3
top,"Mar 17, 2025 19:42:33.325565000 CDT",0,0,0,0,0x8383,2.0,1,0,0,0,0,DDoS_TCP
freq,3,9992,9992,8927,8406,2829,5268,9023,5165,12067,9855,9948,5000

In [29]:
drop_columns = ["frame.time","arp.dst.proto_ipv4", "arp.src.proto_ipv4",
                "http.file_data", 
                "http.request.full_uri", "tcp.options", "tcp.payload",
                "tcp.srcport"]
df_combined.drop(drop_columns, axis = 1, inplace = True)
df_combined.dropna(axis = 0, how = 'any', inplace = True)
# df.drop_duplicates(subset = None, keep = "first", inplace = True)
df_combined = shuffle(df_combined)

In [30]:
df_combined.shape

(15000, 46)

In [31]:
df_combined.to_csv('../attacks/Preprocessed_combined_data.csv', index=False)

In [32]:
df_combined['tcp.checksum'] = df_combined['tcp.checksum'].apply(lambda x: int(x, 16) if isinstance(x, str) and x.startswith('0x') else x)
df_combined['tcp.flags'] = df_combined['tcp.flags'].apply(lambda x: int(x, 16) if isinstance(x, str) and x.startswith('0x') else x)
df_combined['tcp.checksum'] = df_combined['tcp.checksum'].astype(float)
df_combined['tcp.flags'] = df_combined['tcp.flags'].astype(float)
df_combined.to_csv('../attacks/Preprocessed_combined_data.csv', index=False)

In [55]:
df_combined = pd.read_csv('../attacks/Preprocessed_combined_data.csv', low_memory=False)
df_combined.drop(columns=['http.request.uri.query'], inplace=True)
df_combined.info()
df_combined.to_csv('../attacks/Preprocessed_combined_data.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 45 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   arp.opcode                 15000 non-null  float64
 1   arp.hw.size                15000 non-null  float64
 2   icmp.checksum              15000 non-null  float64
 3   icmp.seq_le                15000 non-null  float64
 4   icmp.transmit_timestamp    15000 non-null  float64
 5   icmp.unused                15000 non-null  float64
 6   http.content_length        15000 non-null  float64
 7   http.response              15000 non-null  float64
 8   tcp.ack                    15000 non-null  float64
 9   tcp.ack_raw                15000 non-null  float64
 10  tcp.checksum               15000 non-null  float64
 11  tcp.connection.fin         15000 non-null  float64
 12  tcp.connection.rst         15000 non-null  float64
 13  tcp.connection.syn         15000 non-null  float64
 14  tcp.connection.synack      15000 non-null  float64
 15  tcp.dstport                15000 non-null  float64
 16  tcp.flags                  15000 non-null  float64
 17  tcp.flags.ack              15000 non-null  int64
 18  tcp.len                    15000 non-null  float64
 19  tcp.seq                    15000 non-null  float64
 20  udp.port                   15000 non-null  float64
 21  udp.stream                 15000 non-null  float64
 22  udp.time_delta             15000 non-null  float64
 23  dns.qry.name               15000 non-null  float64
 24  dns.qry.qu                 15000 non-null  float64
 25  dns.retransmission         15000 non-null  float64
 26  dns.retransmit_request     15000 non-null  float64
 27  dns.retransmit_request_in  15000 non-null  float64
 28  mbtcp.len                  15000 non-null  float64
 29  mbtcp.trans_id             15000 non-null  float64
 30  mbtcp.unit_id              15000 non-null  float64
 31  Attack_label               15000 non-null  float64
 32  Attack_type                15000 non-null  object
 33  http1_encoded              15000 non-null  int64
 34  http2_encoded              15000 non-null  int64
 35  http3_encoded              15000 non-null  int64
 36  dns_encoded                15000 non-null  int64
 37  http1_0                    15000 non-null  float64
 38  http1_1                    15000 non-null  float64
 39  http1_2                    15000 non-null  float64
 40  http1_3                    15000 non-null  float64
 41  http2_0                    15000 non-null  float64
 42  http3_0                    15000 non-null  float64
 43  http3_1                    15000 non-null  float64
 44  http3_2                    15000 non-null  float64
dtypes: float64(39), int64(5), object(1)
memory usage: 5.1+ MB

In [47]:
# Load the datasets
df1 = pd.read_csv('../attacks/Preprocessed_edgeIIot_50k.csv')
df2 = pd.read_csv('../attacks/Preprocessed_combined_data.csv')

# Ensure that both datasets have the same columns. 
# Add missing columns in df2 and set their default values to 0.0.
for col in df1.columns:
    if col not in df2.columns:
        df2[col] = 0.0  # Add the missing column and set all values to 0.0
df1.shape
df2.to_pdf('../attacks/Preprocessed_combined_data.csv')

(50000, 64)

In [48]:
df1.columns

Index(['arp.opcode', 'arp.hw.size', 'icmp.checksum', 'icmp.seq_le',
       'icmp.transmit_timestamp', 'icmp.unused', 'http.content_length',
       'http.response', 'tcp.ack', 'tcp.ack_raw', 'tcp.checksum',
       'tcp.connection.fin', 'tcp.connection.rst', 'tcp.connection.syn',
       'tcp.connection.synack', 'tcp.dstport', 'tcp.flags', 'tcp.flags.ack',
       'tcp.len', 'tcp.seq', 'udp.port', 'udp.stream', 'udp.time_delta',
       'dns.qry.name', 'dns.qry.qu', 'dns.retransmission',
       'dns.retransmit_request', 'dns.retransmit_request_in', 'mbtcp.len',
       'mbtcp.trans_id', 'mbtcp.unit_id', 'Attack_label', 'Attack_type',
       'http1_encoded', 'http2_encoded', 'http3_encoded', 'dns_encoded',
       'http1_0', 'http1_1', 'http1_2', 'http1_3', 'http1_4', 'http1_5',
       'http1_6', 'http1_7', 'http1_8', 'http2_0', 'http2_1', 'http2_2',
       'http2_3', 'http2_4', 'http3_0', 'http3_1', 'http3_2', 'http3_3',
       'http3_4', 'http3_5', 'http3_6', 'http3_7', 'http3_8', 'http3_9',
       'http3_10', 'http3_11', 'http3_12'],
      dtype='object')

In [49]:
df2.columns

Index(['arp.opcode', 'arp.hw.size', 'icmp.checksum', 'icmp.seq_le',
       'icmp.transmit_timestamp', 'icmp.unused', 'http.content_length',
       'http.request.uri.query', 'http.response', 'tcp.ack', 'tcp.ack_raw',
       'tcp.checksum', 'tcp.connection.fin', 'tcp.connection.rst',
       'tcp.connection.syn', 'tcp.connection.synack', 'tcp.dstport',
       'tcp.flags', 'tcp.flags.ack', 'tcp.len', 'tcp.seq', 'udp.port',
       'udp.stream', 'udp.time_delta', 'dns.qry.name', 'dns.qry.qu',
       'dns.retransmission', 'dns.retransmit_request',
       'dns.retransmit_request_in', 'mbtcp.len', 'mbtcp.trans_id',
       'mbtcp.unit_id', 'Attack_label', 'Attack_type', 'http1_encoded',
       'http2_encoded', 'http3_encoded', 'dns_encoded', 'http1_0', 'http1_1',
       'http1_2', 'http1_3', 'http2_0', 'http3_0', 'http3_1', 'http3_2',
       'http1_4', 'http1_5', 'http1_6', 'http1_7', 'http1_8', 'http2_1',
       'http2_2', 'http2_3', 'http2_4', 'http3_3', 'http3_4', 'http3_5',
       'http3_6', 'http3_7', 'http3_8', 'http3_9', 'http3_10', 'http3_11',
       'http3_12'],
      dtype='object')

In [50]:
df2.drop(columns=['http.request.uri.query'], inplace=True)

In [51]:
df2.columns

Index(['arp.opcode', 'arp.hw.size', 'icmp.checksum', 'icmp.seq_le',
       'icmp.transmit_timestamp', 'icmp.unused', 'http.content_length',
       'http.response', 'tcp.ack', 'tcp.ack_raw', 'tcp.checksum',
       'tcp.connection.fin', 'tcp.connection.rst', 'tcp.connection.syn',
       'tcp.connection.synack', 'tcp.dstport', 'tcp.flags', 'tcp.flags.ack',
       'tcp.len', 'tcp.seq', 'udp.port', 'udp.stream', 'udp.time_delta',
       'dns.qry.name', 'dns.qry.qu', 'dns.retransmission',
       'dns.retransmit_request', 'dns.retransmit_request_in', 'mbtcp.len',
       'mbtcp.trans_id', 'mbtcp.unit_id', 'Attack_label', 'Attack_type',
       'http1_encoded', 'http2_encoded', 'http3_encoded', 'dns_encoded',
       'http1_0', 'http1_1', 'http1_2', 'http1_3', 'http2_0', 'http3_0',
       'http3_1', 'http3_2', 'http1_4', 'http1_5', 'http1_6', 'http1_7',
       'http1_8', 'http2_1', 'http2_2', 'http2_3', 'http2_4', 'http3_3',
       'http3_4', 'http3_5', 'http3_6', 'http3_7', 'http3_8', 'http3_9',
       'http3_10', 'http3_11', 'http3_12'],
      dtype='object')

In [52]:
df1.shape

(50000, 64)

In [57]:
df2.shape
df2.to_csv('../attacks/final_combined_attack_data.csv')

In [54]:
df_combined = pd.concat([df1, df2], ignore_index=True)

# Save the combined DataFrame to a new CSV
df_combined.to_csv('../attacks/final_combined_50k_dataset.csv', index=False)

In [59]:
import pandas as pd

# Example: Load your dataset
df = pd.read_csv('../attacks/final_combined_attack_data.csv')

# Create three separate DataFrames for each attack type
df_attack1 = df[df['Attack_type'] == 'DDoS_TCP']
df_attack2 = df[df['Attack_type'] == 'DDoS_HTTP']
df_attack3 = df[df['Attack_type'] == 'SQL_injection']

# Now you have three DataFrames:
# - df_attack1 for Attack1
# - df_attack2 for Attack2
# - df_attack3 for Attack3

# Optionally, you can save them as separate CSV files if needed
df_attack1.to_csv('../attacks/final_ddos_tcp_attack.csv', index=False)
df_attack2.to_csv('../attacks/final_ddos_http_attack.csv', index=False)
df_attack3.to_csv('../attacks/final_sql_injection_attack.csv', index=False)